h3 {
  text-transform: uppercase;
  background-color: lightgray;
  padding: 10px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .product {
    width: 22%;
    margin: 5px;
    border: solid 1px gray;
    cursor: pointer;
    img {
      width: 100%;
    }
    p {
      margin: 5px auto;
      text-align: center;
    }
  }
}
