<h2>Sum</h2>
<div class="rows">
  <app-sum [num1]="6" [num2]="9"></app-sum>
  <app-sum [num1]="numbers[0]" [num2]="numbers[1]"></app-sum>
</div>

<h2>Cronometer</h2>
<div class="rows">
  <app-cron [init]="8" (finish)="onFinish($event)"></app-cron>
  <app-cron [init]="6" (finish)="onFinish($event)"></app-cron>
  <app-cron [init]="numbers[2]" (finish)="onFinish($event)"></app-cron>
</div>

<h2>Calculator</h2>
<app-calc></app-calc>

<h2>To-do List</h2>
<div class="rows">
  <app-form (createdTask)="onCreatedTask($event)"></app-form>  
  <app-list [tasks]="taskArray"></app-list>
</div>