<div class="calculator">
  <p class="result">{{ result }}</p>
  <div class="buttons numbers">
    <button (click)="onClick($event)">1</button>
    <button (click)="onClick($event)">2</button>
    <button (click)="onClick($event)">3</button>
    <button (click)="onClick($event)">4</button>
    <button (click)="onClick($event)">5</button>
    <button (click)="onClick($event)">6</button>
    <button (click)="onClick($event)">7</button>
    <button (click)="onClick($event)">8</button>
    <button (click)="onClick($event)">9</button>
    <button (click)="onClick($event)">0</button>
  </div>
  <div class="buttons calcule">
    <button (click)="onClick($event)">+</button>
    <button (click)="onClick($event)">-</button>
    <button (click)="onClick($event)">*</button>
    <button (click)="onClick($event)">/</button>
    <button (click)="onResult()"> = </button>
  </div>
</div>
